.containerPedido {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.divContainer {
    margin: 50px 0;
}

.asideContainer {
    margin: 50px 0;
}

.containerBotoes {
    display: flex;
    width: 30%;
    gap: 40px;
    justify-content: space-between;
}