.headerMinhaConta {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    color: white;
    font-size: 45px;
    font-weight: 700;
    padding: 25px;
}

.asideContainer {
    width: 30%;
}

.asideFragment {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.separadorContainer {
    display: flex;
}

.barraHorizontal {
    width: 30%;
}

.divContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}